:root {
  --PrimaryColor: rgb(165, 167, 247);
  --Primary2Color: rgb(131, 132, 221);
  --SecondColor: rgb(174, 174, 227);
  --SecondColor2:rgba(136, 38, 255, 0.537);
  --ThirdColor: rgb(203, 204, 249);
  --TimeColor:rgb(255, 255, 255);
}

[data-theme="orange"] {
  --PrimaryColor: rgb(248, 188, 162);
  --Primary2Color: rgb(228, 76, 30);
  --SecondColor: rgb(255, 255, 255);
  --SecondColor2:rgba(255, 154, 38, 0.537);
  --ThirdColor: rgb(255, 174, 98);
  --TimeColor:rgb(255, 255, 255);
}
html, body {
  overflow-y: hidden;
  height: 100%;
  height: 100vh; 
  margin: 0; 
  background: linear-gradient(to bottom left, var(--SecondColor), var(--ThirdColor)); 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

// 使用 CSS 變數取代 SCSS 變數
h1,
.primarycolor {
  color: var(--PrimaryColor);
}
.primary2color {
  color: var(--Primary2Color);
}

p,
h5,
h6,
.secondcolor2 {
  color: var(--SecondColor2);
}

.thirdcolor {
  color: var(--ThirdColor);
}

// cardlistsecondcolor2
.decorative-line-card {
  position: relative;
  border-left: 10px solid var(--Primary2Color);
  padding-left: 10px;
}
.list-word {
  font-size: 18px;
  color: var(--Primary2Color);
}

// btn
.butn-bg {
  background-color: var(--Primary2Color);
}

// scroll
.scroll {
  max-height: 330px;
  overflow-y: auto;
  position: relative; 
  padding-right: 10px; 

  &::-webkit-scrollbar-thumb {
    background: var(--SecondColor); 
    border-radius: 10px;
  }
}

//time
.time{
  color: var(--TimeColor);
  font-size: 100px;
}
